<% include top %>
<form method='POST' action='/dologin'>
<p>
Username: <input type='text' name='username' value='' />
<br/>
Password: <input type='password' name='password' value='' />
</p>
<br/><input type='submit' value='Login' />
</form>
<% include bottom %>
