 <html>
 <head>
     <title><%= title %></title> <span>This is header</span>
     <link rel='stylesheet' href='/style.css' />
 </head>
 <body>
     <h1><%= title %></h1>
     <div class='navbar'>
     <p><a href='/'>Home</a> | <a href='/noteadd'>ADD Note</a></p>
     <hr> 
     </div>
